<% case @current_frame %>
<% when 0 %>

  <div id="photo-frame-0" class="photo-frame single high hide">
    <%= image_tag @photos[0].url %>
  </div>
  <% 2.times do |i| %>
    <div id="photo-frame-<%=i+1%>" class="photo-frame single low hide">
      <%= image_tag @photos[i+1].url %>
    </div>
  <% end %>
  <div id="photo-frame-3" class="photo-frame double low hide">
    <%= image_tag @photos[3].url %>
  </div>

<% when 1 %>

  <div id="photo-frame-0" class="photo-frame single high hide">
    <%= image_tag @photos[0].url %>
  </div>
  <% 2.times do |i| %>
    <div id="photo-frame-<%=i+1%>" class="photo-frame single low hide">
      <%= image_tag @photos[i+1].url %>
    </div>
  <% end %>
  <div id="photo-frame-3" class="photo-frame double low hide">
    <%= image_tag @photos[3].url %>
  </div>

<% when 2 %>

  <div id="photo-frame-0" class="photo-frame double low hide">
    <%= image_tag @photos[0].url %>
  </div>
  <div id="photo-frame-1" class="photo-frame single low hide">
    <%= image_tag @photos[1].url %>
  </div>
  <div id="photo-frame-2" class="photo-frame single low hide">
      <%= image_tag @photos[2].url %>
    </div>
  <div id="photo-frame-3" class="photo-frame double low hide">
    <%= image_tag @photos[3].url  %>
  </div>

<% end %>