<div class="container">

  <%= form_tag(activation_wall_path(@wall), method: "post") do %>
    <%= label_tag(:activation_code, "Paste your activation code here to use your wall") %>
    <%= text_field_tag(:activation_code) %>
    <%= submit_tag("Activate") %>
  <% end %>

  <p>Don't have an activation code?</p>

  <p>Click <%= link_to "here", "http://sites.fastspring.com/hypewall/product/hypewall" %>
    to buy one
  </p>

</div>