<div class="container">
  <h1>Images control</h1>
  <%= link_to "List banned users", list_banned_users_wall_path%>

  <div id="control">
  <% @images.each do |image| %>
    <%= render partial: 'items/item', locals: { item: image } %>
  <% end %>
  </div>

  <script>
    var dispatcher = new WebSocketRails('<%= websocket_host %>');
    channel = dispatcher.subscribe('item_control_<%= @wall.id %>');
    channel.bind('new', function(image_box_partial) {
      control_div = $("#control")
      if (control_div.children().length >= '<%= control_wall_size %>') {
        control_div.children().slice('<%= control_wall_size - 1 %>').remove();
        control_div.prepend(image_box_partial);
      }
    });
  </script>
</div>
