<div  id="wall-edit-preview"
      style="background-image: url('<%= @wall.background_image.url %>');"
      class="<%= @wall.background_style %>">

<div id="info">
    <%= image_tag @wall.logo.url, class: 'logo' if @wall.has_logo? %>

    <!-- Logo upload -->
    <p>
      <% if @wall.has_logo? %>
        <button class="btn btn-default" data-tool-box-open="change-logo">
          <i class="fa fa-upload"></i> Change logo
        </button>
        <%= link_to "Remove", remove_logo_wall_path(@wall), class: "btn btn-danger", method: :delete %>
      <% else %>
        <button class="btn btn-default" data-tool-box-open="change-logo">
          <i class="fa fa-upload"></i> Upload logo
        </button>
      <% end %>

    <p>
    <div class="logo-tool-box tool-box hide" data-tool-box="change-logo">
      <%= form_for(@wall, class: 'form') do |f| %>
        <div class="form-group">
          <%= f.label :logo %>
          <%= f.file_field :logo %>
        </div>
        <%= f.submit "Upload", class: "btn btn-primary" %>
        <div class="btn btn-default" data-tool-box-close="change-logo">Cancel</div>
      <% end %>
    </div>

    <div class="description" data-tool-box-open="edit-description">
      <%= parse_hypecode @wall.description %>
      <button class="btn btn-default" data-tool-box-open="edit-description">
        <i class="fa fa-edit"></i> <%= @wall.description.blank? ? "Add description" : "Edit description" %>
      </button>
    </div>
    <div class="tool-box hide description-editor" data-tool-box="edit-description">
      <%= form_for(@wall, class: 'form') do |f| %>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control large-textarea' %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
          <div class="btn btn-default" data-tool-box-close="edit-description">Cancel</div>
        </div>
      <% end %>
    </div>


    <!-- Background upload -->
    <div id="btn-bg-select">
      <button class="btn btn-default" data-tool-box-open="change-bg">
        <i class="fa fa-upload"></i> Change background
      </button>
      <% if @wall.has_background? %>
        <%= link_to "Remove", remove_background_wall_path(@wall), class: "btn btn-danger", method: :delete %>
      <% end %>
    </div>
    <div id="bg-select" class="tool-box hide" data-tool-box="change-bg">
      <%= form_for(@wall, class: 'form') do |f| %>
        <div class="form-group">
          <%= f.label :background_image %>
          <%= f.file_field :background_image%>
        </div>
        <div class="form-group">
          <%= f.label :background_style %></br>
          <%= f.select :background_style, Wall::BACKGROUND_STYLES %>
        </div>
        <%= f.submit "Update", class: "btn btn-primary" %>
        <div class="btn btn-default" data-tool-box-close="change-bg">Cancel</div>
      <% end %>
    </div>

</div>


