<div class="container">
  <div class="wall-list">


  <h1>Subscription level: <%= current_user.subscription_level %></h1>

  <% if @walls.any? %>
    <h1>My walls</h1>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <% if current_user.is_pro? %>
          <th class="tool-column">Edit</th>
        <% end %>
        <th class="tool-column">Upload</th>
        <th class="tool-column">Control</th>
        <th class="tool-column">Delete</th>
      </tr>
      <% @walls.each do |wall| %>
        <tr>
          <td> <%= link_to wall.name, wall %> </td>
          <% if wall.is_pro? %>
          <td class="tool-column">
            <%= link_to edit_wall_path(wall) do %> <i class="fa fa-pencil"></i> <% end %>
          </td>
          <% end %>
          <td class="tool-column">
            <%= link_to new_wall_uploaded_image_path(wall) do %> <i class="fa fa-upload"></i> <% end %>
          </td>
          <td class="tool-column">
            <%= link_to control_wall_path(wall) do %> <i class="fa fa-eye"></i> <% end %>
          </td>
          <td class="tool-column">
            <%= link_to wall, method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-times"></i> <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to new_wall_path, class: 'btn btn-primary' do %>
      <i class="fa fa-plus"></i> New Wall
    <% end %>
  <% else %>
    <div class="jumbotron">
      <h1>Create your first wall</h1>
      <p>
        It seems you are new around here. </br>
        Don't worry you will have your first HypeWall running in no time.
      </p>
      <p>
        <%= link_to new_wall_path, class: 'btn btn-primary btn-lg' do %>
          <i class="fa fa-plus"></i> Create my wall
        <% end %>
      </p>

    </div>
  <% end %>

  </div>

</div>
