<div id="info">
  <br/>
  <p>
    <%= image_tag @wall.logo.url, class: "logo" if @wall.has_logo? %>
  </p>
  <div class="description <%= @wall.font_color %> <%= @wall.font_style %>">
    <%= parse_hypecode @wall.description %>
  </div>

  <div id="wall-menu-trigger">
    <div id="wall-menu">
      <% if current_user %>
        <%= link_to edit_wall_path(@wall) do %><span class="fa fa-pencil"></span><% end %>
      <% end %>
      <a href="#" class="fullscreen"><span class="fa fa-expand"></span></a>
    </div>
  </div>
</div>
<canvas id="wall_bricks"></canvas>