<!DOCTYPE html>
<html class="">
<head>
  <title>HypeWall</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'HypeWall', root_path, class:"navbar-brand" %></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="active"><%= link_to 'Dashboard', dashboard_path %></a></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              Sign out (<%= current_user.name %>)
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

  <div class="container">
    <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
  </div>
  <%= yield %>

</body>
</html>
