<!DOCTYPE html>
<html>
<head>
  <title>HypeWall</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" media="all" href="/assets/animate.css" data-turbolinks-track="true">
  <%= stylesheet_link_tag 'application_fullscreen' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body style="background-image: url('<%= @wall.background_image.url %>');" class="<%= @wall.background_style %>">
<%= yield %>
</body>
</html>
